.story {
	width: 75%;
	margin: 0 auto;
	box-shadow: 0 3rem 6rem rgba($color-black, .1);
	background-color: rgba($color-white, .6);
	border-radius: 3px;
	padding: 6rem;
	padding-left: 9rem;
	font-size: $default-font-size;
	transform: skewX(-12deg);

	&__shape {
		width: 15rem;
		height: 15rem;
		float: left;
		-webkit-shape-outside: circle(50% at 50% 50%);
		shape-outside: circle(50% at 50% 50%);
		-webkit-shape-outside: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
		transform: translateX(-3rem) skewX(12deg);
		position: relative;
	}

	// for Shape-outside.  the first number is radius.  So in this situation you want to say I want the radius to be half.  So half of 15rem is 7.5.  then you state you want it at 50% 50%.  This will only work if 1) you have the thing floated. and 2) if you have defined dimensions.

	// you are transform:translateX(-3rem); because you are pushing the imaginary circle to the right so that the text moves an isn't pressed up against the clip path.
	
	&__img {
		height: 100%;
		transform: translateX(-4rem) scale(1.4);
		transition: all .5s;
		backface-visibility: hidden;

	}

	&__text {
		transform: skewX(12deg);
	}

	&__caption {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 0);
		color: $color-white;
		text-transform: uppercase;
		font-size: 1.7rem;
		text-align: center;
		opacity: 0;
		transition: all .5s;
		backface-visibility: hidden;
	}

	&:hover &__caption {
		opacity: 1;
		transform: translate(-50%, -50%);
	}

	&:hover &__img {
		transform: translateX(-4rem) scale(1);
		filter: blur(3px) brightness(80%);
	}
}