<<<<<<< HEAD
.section-about {
	background-color: $color-grey-light1;
	padding: 25rem 0;
	margin-top: -20vh;

	// we added margin-top -20vh so that the grey background of the section would fill in the bottom right triangle of white from the header. It's the difference (because we stated 75vh in our header)
}

.section-features {
	padding: 20rem 0;
	background-image: linear-gradient(to right bottom,
		rgba($color-primarylight, 0.6),
		rgba($color-primarydark, 0.6)),
	url(../img/nat-4.jpg);
	background-size: cover;

	transform: skewY(-7deg);

	margin-top: -10rem;

	& > * {
		transform: skewY(7deg);
	}

	//this code selects ALL the children of the section-features in order to re-skew them back to normal

}

.section-tours {
	background-color: $color-grey-light1;
	padding: 25rem 0 15rem 0;
	margin-top: -10rem;
}

.section-stories {
	position: relative;
	padding: 15rem 0;

}

.section-book {
	padding: 15rem 0;
	background-image: linear-gradient(to right bottom, $color-primarylight, $color-primarydark);

}

.book {
	background-image: linear-gradient(105deg, 
		                              rgba($color-white, .9) 0%, 
		                              rgba($color-white, .9) 50%,
		                              transparent 50%),
	                                  url(../img/nat-10.jpg);
	background-size: cover;
	border-radius: 3px;
	box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

	height: 50rem;

	&__form{
		width: 50%;
		padding: 6rem;
		
	}
}
// can use "cover" or "100%" -- they mean the same

=======
.section-about {
	background-color: $color-grey-light1;
	padding: 25rem 0;
	margin-top: -20vh;

	// we added margin-top -20vh so that the grey background of the section would fill in the bottom right triangle of white from the header. It's the difference (because we stated 75vh in our header)
}

.section-features {
	padding: 20rem 0;
	background-image: linear-gradient(to right bottom,
		rgba($color-primarylight, 0.6),
		rgba($color-primarydark, 0.6)),
	url(../img/nat-4.jpg);
	background-size: cover;

	transform: skewY(-7deg);

	margin-top: -10rem;

	& > * {
		transform: skewY(7deg);
	}

	//this code selects ALL the children of the section-features in order to re-skew them back to normal

}

.section-tours {
	background-color: $color-grey-light1;
	padding: 25rem 0 50rem 0;
	margin-top: -10rem;
}
>>>>>>> 8b8dc6ad461c5bf7f758065ec39d073f21d1499d
